.action__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-page {
  display: flex;
  justify-content: flex-end;
}

.search {
  &__input {
    width: 200px;
    height: 30px;
    outline: none;
    padding: 0 8px;
    border-color: transparent;
    border-radius: 4px;
    color: #333;
    background-color: #eae1e1;
    display: inline-block;
    margin-right: 8px;
  }
}

/* pagination */
.wrapper-pagination {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
}

.pagination-item {
  width: 30px;
  height: 30px;
  background-color: #588ef8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 8px;
  cursor: pointer;
}

.pagination-item:hover {
  background-color: #2053b9;
  transition: all 0.3s ease-in;
  user-select: none;
}

.pagination-item.active {
  cursor: default;
  background-color: #ccc;
}
