@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

/* button */
.btn {
  color: #fff;
  cursor: pointer;
  margin-right: 8px;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #f28e19;
}

.btn-primary:hover {
  background-color: #eca554;
  transition: all 0.3s ease-in;
}

/* table */
.wrapper-table {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
  padding: 8px;
}

.table tr {
  border-bottom: 2px solid #ccc;
  height: 50px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}
